body{
  background-color: bisque;
}

/* Head */
header h1{
  text-align: center;
  font-size: 3em;
}
/* Main */
main h2{
  text-align: center;
  font-size: 2em;
  margin-top: 10px;
}

main h3{
  text-align: center;
  font-size: 1em;
  margin-top: 5px;
  margin-top: 10px;
}

img{
  width: 200px;
  height: 200px;
  display: inline-block;
  text-align: center;
  margin: 10px;
  border: 1px solid black;
}

section{
  width: max-content;
  text-align: right;
  border: 3px solid black;
  margin: auto;
  margin-top: 5px;
}

img:hover{
  cursor: pointer;
}


div{
  margin: auto;
  text-align: center;
  padding: 5px;
  border: 5px solid black;
  width: max-content;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 2em;;
}

div:hover{
  cursor: pointer;
}

ul{
  margin-left: 10px;
  font-size: 1.5em;
}

/* Foot */